.aferSpotifyRedirectContainer {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 100%;
   height: 90%;
   align-items: center;
   margin-top: 5.5%;
}

.afterSpotifyMessageContainer {
   display: flex;
   flex-direction: column;
   height: 5em;
   align-items: center;
   position: absolute;
   margin-top: 10em;
}

.afterSpotifyShareMessage {
   text-align: center;
}

.afterSpotifyRedirectDecision {
   display: flex;
   flex-direction: row;
   position: absolute;
   width: 50%;
   height: 10%;
   align-items: center;
   margin-top: 18em;
}

.afterSpotifyRedirectButton {
   height: 90%;
   width: 30%;
   margin: auto;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1em;
   border-radius: 5px;
}